<% layout('../layout') %>

    <div class="dashboard-page" id="dashboard">
        <div id="wrapper">

            <!-- block help -->
            <%-partial('../blocks/help')%>
            <!-- fin block help -->
            
            <div id="page-content-wrapper">
                <a href="#menu-toggle" class="dicta" id="menu-toggle">Aide</a>
                
                <!-- block nav -->
                <%-partial('../blocks/nav')%>
                <!-- fin block nav -->

                <!-- Modal settings-->
                <%-partial('../blocks/settings')%>
                <!-- fin Modal settings-->

                <!-- Modal profil-->
                <%-partial('../blocks/account')%>
                <!-- fin Modal profil-->

                <section class="container-fluid" id="main">
                    <div class="row">
                        <article class="search col-sm-12 animated zoomInUp">
                            <i class="fa fa-microphone" aria-hidden="true"></i>
                            <input v-bind:value="phrase" type="text" name="request" placeholder="Dictez ou écrivez votre recherche ...">
                        </article>

                        <article class=" col-sm-12 col-lg-10 animated zoomInUp">
                                <div class="result col-md-12">
                            <h2 class="title">Resultats</h2>

                            <div class="module-weather" :class="{ hide: !isActiveWeatherModule }">
                                <%-partial('../modules/meteo')%>
                            </div>
                            <div class="module-music" :class="{ hide: !isActiveMusicModule }">
                                <%-partial('../modules/spotify')%>
                            </div>
                            <div class="module-movie" :class="{ hide: !isActiveMovieModule }">
                                <%-partial('../modules/allocine')%>
                            </div>
                            <div class="module-travel" :class="{ hide: !isActiveTravelModule }">
                                <%-partial('../modules/travel')%>
                            </div>
                                </div>
                        </article>

                        <article class="col-sm-12 col-lg-2 animated zoomInUp">
                                <div class="recommandation col-md-12">
                            <h2 class="title">Suggestions</h2>
                                </div>
                        </article>
                    </div>
                </section>
            </div>
            
            <p><input type="button" value="Embêter le serveur" id="poke" /></p>
       </div>
   </div>
</div>
<script src="/js/dashboard/vue.js"></script>
<script src="/js/dashboard/main.js"></script>
<script src="/js/dashboard/weather.js"></script>
<script src="/js/dashboard/movie.js"></script>
<script src="/js/dashboard/spotify.js"></script>
<script src="/js/dashboard/travel.js"></script>
<script src="/js/dashboard/annyang.js"></script>
<script src="/js/dashboard/test.js"></script>

<script>
    
</script>