<div class="modal fade" id="user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content frame">
                <div class="page-header text-center">
                    <h2 class="title">
                        <span class="fa fa-user"></span> Profile page <button type="button" data-dismiss="modal"
                            aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                    </h2>
                </div>
                <div class="content">
                    <% if (user.local.email){ %>
                        <h3><span class="fa fa-user"></span> Local</h3>

                        <ul>
                            <li><strong>ID :</strong>
                                <%= user._id %>
                            </li>
                            <li><strong>Email :</strong>
                                <%= user.local.email %>
                            </li>
                            <li><strong>Password :</strong>
                                <%= user.local.password %>
                            </li>
                        </ul>

                        <% } %>
                            <% if (user.facebook.token){ %>
                                <h3><span class="fa fa-facebook"></span> Facebook</h3>
                                <div class="avatar">
                                    <img class="" src="<%= user.facebook.picture %>" alt="Photo de <%= user.facebook.name %>" />
                                </div>
                                <ul>
                                    <li><strong>Name :</strong>
                                        <%= user.facebook.name %>
                                    </li>
                                    <li><strong>Email :</strong>
                                        <%= user.facebook.email %>
                                    </li>
                                    <li><strong>Facebook ID :</strong>
                                        <%= user.facebook.id %>
                                    </li>
                                    <li><strong>Token :</strong>
                                        <%= user.facebook.token %>
                                    </li>
                                </ul>
                                <% } %>
                                    <% if (user.google.token){ %>

                                        <h3><span class="fa fa-google-plus"></span> Google+</h3>
                                        <div class="avatar">
                                            <img class="" src="<%= user.google.picture %>" alt="Photo de <%= user.google.name %>" />
                                        </div>

                                        <ul>
                                            <li><strong>Name :</strong>
                                                <%= user.google.name %>
                                            </li>
                                            <li><strong>Email :</strong>
                                                <%= user.google.email %>
                                            </li>
                                            <li><strong>Google ID :</strong>
                                                <%= user.google.id %>
                                            </li>
                                            <li><strong>Token :</strong>
                                                <%= user.google.token %>
                                            </li>
                                        </ul>

                                        <% } %>
                                            <a href="/auth/logout" class="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>